[submodule "aula"]
	path = aula
	url = https://github.com/liqd/aula.git
[submodule "thentos"]
	path = thentos
	url = https://github.com/liqd/thentos.git
[submodule "sensei"]
	path = sensei
	url = https://github.com/hspec/sensei
